@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-field {
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #a855f7;
  color: #a855f7;
}

.input-field::placeholder {
  color: white;
}

.radar-chart .chartjs-render-monitor {
  font-size: 24px !important; /* Aumenta el tamaño de la fuente de las etiquetas */
}
