.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    padding: 0.8em 1.7em; /* Aumentar padding vertical para espacio arriba y abajo */
    cursor: pointer;
    font-size: 16px;
    border-radius: 2em; /* Bordes más redondeados */
    background: linear-gradient(135deg, #9767e9, #683399); /* Degradado morado */    
    /* border: 1px solid #9b4de5; Color similar al degradado */
    box-shadow: 8px 8px 16px rgba(74, 20, 103, 0.6), -8px -8px 16px rgba(245, 219, 255, 0.6); /* Brillo más grande */
    
    display: flex; /* Asegurar que el contenedor es flex */
    justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 15px; /* Espacio entre la imagen y el texto */
}

.button2:active {
    color: #ffffff;
    box-shadow: inset 4px 4px 12px rgba(139, 37, 194, 0.6), inset -4px -4px 12px rgba(245, 219, 255, 0.6); /* Brillo interno más grande */
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(85, 37, 128, 0.3); /* Color morado más oscuro */
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: rgba(139, 37, 194, 0.4); /* Color morado más intenso */
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #8459b3; /* Color más oscuro al pasar el ratón */
    /* border: 1px solid #c78bff; */
}

.button2:hover:before {
    top: -35%;
    background-color: #5d2d8a; /* Color morado más oscuro */
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #f0e7ff; /* Color más oscuro al pasar el ratón */
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
