/* Estilo principal del input */
.input1 {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    color: rgb(107, 107, 107); /* Texto negro al escribir */
  }
  
  /* Efecto al enfocar */
  .input1:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 3px 3px 50px #969696,
    -3px -3px 50px #ffffff;  }
  
  /* Efecto hover opcional */
  .input1:hover {
    background-color: #ddd;
  }
  