
.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .background-imageJ {
    background-image: url('../../public/images/f4.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .background-imageE {
    background-image: url('../../public/images/f3.jpg');
    background-size: cover;
    background-position: center;
  }

  .background-imageEP {
    background-image: url('../../public/images/f5.jpg');
    background-size: cover;
    background-position: center;
  }

  .background-imageEE {
    background-image: url('../../public/images/f2.jpg');
    background-size: cover;
    background-position: center;
  }

  .background-imageEG {
    background-image: url('../../public/images/f1.jpg');
    background-size: cover;
    background-position: center;
  }

  .background-imageP {
    background-image: url('../../public/images/f7.jpg');
    background-size: cover;
    background-position: center;
  }

  @font-face {
    font-family: 'Prociono'; /* Nombre de la fuente */
    src: url('../fonts/Prociono.ttf') format('truetype'); /* Ruta de la fuente */
    font-weight: normal; /* Opcional: normal o bold */
    font-style: normal; /* Opcional: normal, italic, etc. */
  }

  .titulo-personalizado {
    font-family: 'Prociono', sans-serif; /* La fuente personalizada */
  }

  @font-face {
    font-family: 'Vercetti'; /* Nombre de la fuente */
    src: url('../fonts/Vercetti-Regular.otf') format('truetype'); /* Ruta de la fuente */
    font-weight: normal; /* Opcional: normal o bold */
    font-style: normal; /* Opcional: normal, italic, etc. */
  }

  .letra-normal {
    font-family: 'Vercetti', sans-serif; /* La fuente personalizada */
  }

  